header {
    background-color: #8f400c;
    padding-top: 2em;
    height: 200px;
    text-align: center;
    
    
}

caption {
    color: black;
}

.carousel-inner img{
   margin: 0 auto;
}
.carousel-inner {
    padding: 150px 200px;
}
.clear-float {
    clear:right;
}
title {
    font-family:sans-serif; 
    font-variant: small-caps;
}
h1 {
    font-family:sans-serif; 
    font-variant: small-caps;
}
nav a {
    background-color: #632b03;
    color:#523208;
    font-size: 1.25em;
    font-weight: 500;
    padding: 8px;
    border: thin solid #b34e0b;
    
    text-align: center;
    display: inline-block;
    margin: 5px;
}
nav a:visited{
    color: #ffd4ae;
}
nav a:hover{
    color:rgb(228, 196, 108);
    text-decoration: none;
}
nav a:active{
    text-decoration: none;
}

li {
    display:inline;
}

  
  #footer {
    background-color: #8f400c;
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 15rem;            /* Footer height */
    color: black;
  }